/* This file is for your main application css. */

@import "./phoenix.css";

header li  a {
	color: white;
	font-weight: bold;
}

header li a:hover {
	color: #72db2b;
	font-weight: bold;
}

header section.container {
	background: #03272d;
}

footer {
	text-align: center;
}
